# Ignore SGF and JSON files
*.sgf
*.json

# Ignore NumPy data files
*.npz
*.npy

# Never ignore important file types
!*.py
!*.md
!*.txt
!*.png
models/kata1-b28c512nbt-s9584861952-d4960414494/model.ckpt
.DS_Store

# Ignore all local test artifacts
test/
